.carousel-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.film-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: space-between;
    width: 90%;
    max-width: 824px;
}

.film-box img{
    margin-left: 12px;
    margin-right: 12px;
    list-style: none;
    width: 182px;
    height: 268px;
}


.carousel-btn_prev,
.carousel-btn_next {
    position: relative;
    font-size: 4em;
    color: #121734;
    background-color: transparent;
    text-shadow: -1px 0 #121734, 0 1px #121734, 1px 0 #121734, 0 -1px #121734;
    width: auto;
}