.film-category {
    background-color: white;
    padding: 48px 24px 48px 24px ;
    text-align: center;
}

.best-film p {
    padding: 10px 5px;
    margin-bottom: 30px;
    color: #dbdbdb;
}

.best-film {
    display: flex;
    flex-direction: row;
    width: 60%;
    align-items: flex-start;
    margin: auto;
}

.best-film-info {
    flex: 50%;
}

.best-film-cover {
    flex: 50%;
}

.best-film h1 {
    margin-bottom: 15px;
}

.best-rated-films {
    background-color: #e9c434;
}

.adventure-films {
    background-color: #24b4be;
}

.comedy-films {
    background-color: #dbdbdb;
}

.fantasy-films {
    background-color: tomato;
}

#openModalButton {
    margin-left: 12px;
}