 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Modal Content/Box */
  .film-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 

  /* Modal Header */
.modal-header {
    display: flex;
    padding: 2px 16px;
    background-color: crimson;
    color: white;
  }
  
  /* Modal Body */
.modal-body {
  padding: 15px 16px;
}

.modal-header-left {
  display: flex;
  justify-content: center;
  flex: 25%;
}
.modal-header-right {
  flex: 75%;
}


.modal-cover-image {
    border-radius: 10px;
    box-shadow:  0px 7px 10px -1px rgba(0,0,0,0.5);
    height: 100%;
}

.modal-cover-image::after {
  content: "";
  clear: both;
  display: table;
}

  
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.modal-button {
  font-size: 14px;
  margin-left: 30px;
  width: 80px;
  height: 40px;
  padding: 10px 0;
  text-align: center;
}

  /* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }